a {
  text-decoration: none;
}

/*HEADER*/

header {
  width: 100%;
  height: 67px;
  background-color: #038773;
  line-height: 67px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

header h2 {
  margin-left: 42px;
  color: #FFF;
  font-weight: 300;
  font-size: 24px;

  flex-grow: 1;
}

header img {
  width: 40px;
  height: 40px;
  margin-right: 42px;
  border-radius: 100%;
}

/*LOGINSCREEN*/

.background {
  width: 100%;
  height: calc(100vh - 67px);
  background-image: url('./img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.login {
  display: grid;
  position: relative;
  grid-template-rows: 40% 60%;
  grid-template-columns: 60% 40%;
  grid-template-areas:  "title ."
                        ". accounts";
}

.title {
  grid-area: title;
  align-self: center;
  margin-left: 42px;
}

.title h3 {
  font-size: 48px;
}

.title h3 span {
  color: #038773;
}

.accounts {
  grid-area: accounts;
}

.accounts button {
  min-width: 380px;
  min-height: 75px;
  margin: 5px;
  color: #FFF;
  border: none;
  font-size: 25px;

  display: flex;
  align-items: center;
  flex-direction: row;
}

.git {
  background-color: #333333;
  padding-left: 20px;
}

.google {
  background-color: #4584EB;
  padding-left: 25px;
}

.git img {
  padding-right: 20px;
}

.google img {
  padding-right: 24px;
}

@media (max-width:1024px) {
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .title {
    margin-bottom: 5vh;
  }
}

/*SESSION*/

.session {
  max-width: 1280px;
  margin: auto;
}

.space {
  margin: 10vh 0 3vh 0;
}

.help {
  text-decoration: none;
  color: #000;
}

.containerInputs {
  display: flex;
  
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  width: 500px;
  height: 500px;
  border: 1px solid #038773;
  color: #038773;
  position: relative;
  text-align: center;
}

.menu input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.menu:hover {
  box-shadow: 1px 1px 3px #038773;
}

.menu p{
  font-size: 24px;
  margin-top: 50px;
}

.menu img {
  margin-top: 250px;
}

